<h1>Imágen destacada</h1>
<div class="contenedor-imagen">
<table>
    <tr>
        <td class="titulo"><%= data.nombre %></td>
    </tr>
    <tr>
        <td class="celda-imagen">
            <img src="/uploads/<%= imagen %>" alt="Imagen destacada" class="imagen-responsiva">
        </td>
    </tr>
    <table class="tabla-descripcion">
        <tr>
            <td class="descripcion">Descripción: <%= data.descripcion %></td>
            <td><p></p></td>
            <td><button id="btnPuntuar">❤️ <span id="puntuacion"><%= data.puntuacion %></span></button></td>
        </tr>
    </table>
</table>
</div>

<%
const flashMsg = getAndClearFlash();
if( flashMsg ) {
%>
<dialog id="flashModal">
    <form method="dialog">
    <p><%= flashMsg %></p>
    <button>Cerrar</button>
    </form>
</dialog>
<% } %>

<script>
const flashDialogEl = document.getElementById("flashModal");
if (flashDialogEl) {
    flashDialogEl.showModal();
}

</script>

<script>
    document.getElementById('btnPuntuar').addEventListener('click', async function () {
        const puntuacionElement = document.getElementById('puntuacion');
        let puntuacion = parseInt(puntuacionElement.textContent, 10);
        puntuacion++;
        puntuacionElement.textContent = puntuacion;
    
        fetch('/contenido/normal', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ contenido: '<%= imagen %>', puntuacion })
        });
    });
    </script>