<h1>Imágen destacada</h1>
<div class="contenedor-imagen">
<table>
    <tr>
        <td class="titulo"><%= data.nombre %></td>
    </tr>
    <tr>
        <td class="celda-imagen">
            <img src="/uploads/<%= imagen %>"  alt="Imagen destacada" class="imagen-responsiva">
        </td>
    </tr>
    <h4 id="contenido" hidden><%= imagen %></h4>
    <table class="tabla-descripcion">
        <tr>
            <td class="descripcion">Descripción: <%= data.descripcion %></td>
            <td><p></p></td>
            <td><button id="btnPuntuar">❤️ <span id="puntuacion"><%= data.puntuacion %></span></button></td>
        </tr>
    </table>
</table>
</div>

<%
const flashMsg = getAndClearFlash();
if( flashMsg ) {
%>
<dialog id="flashModal">
    <form method="dialog">
    <p><%= flashMsg %></p>
    <button>Cerrar</button>
    </form>
</dialog>
<% } %>

<script src="/js/normal.js"></script>