<body>
    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
        <div class="error-messages">
            <h3>Errores:</h3>
            <ul>
                <% errors.forEach(msg => { %>
                    <li><%= msg %></li>
                <% }) %>
            </ul>
        </div>
    <% } %>

    <% if (locals.error) { %>
		<p><strong><%= locals.error %></strong></p>
	<% } %>

    <h2>Bienvenido a MyPixel, Regístrate</h2>
    <form action="/usuarios/register" method="POST" enctype="">
        
        <fieldset>
            <legend>Datos de Registro</legend>
            <p>
                <div><label>Nombre:</label></div>
                <input type="text" name="nombre" value="<%= datos.nombre %>" /><%- helpers.error(errores, 'nombre') %>
            </p>
            
            <p>
                <div><label>Nombre_Usuario:</label></div>
                <input type="text" name="username" value="<%= datos.username %>" /><%- helpers.error(errores, 'username') %>
            </p>

            <p>
                <div><label >Contraseña:</label></div>
                <input type="password" name="password"><%- helpers.error(errores, 'password') %>
            </p>

            <p>
                <div><label >Confirmar_Contraseña:</label></div>
                <input type="password" name="confirmPassword"><%- helpers.error(errores, 'confirmPassword') %>
            </p>

           

            <button type="submit">Registrarse</button>
        </fieldset>
    </form>
</body>