<body>

    <% if (error) { %>
        <div class="error"><%= error %></div> 
    <% } %>

        <h2>Acceso al sistema</h2>
        <form action="/usuarios/login" method="POST">
            <fieldset>
                <% if (locals.error) { %>
                    <p><strong><%= locals.error %></strong></p>
                <% } %>
                <legend>Usuario y contraseña</legend>
                <div><label>Nombre:</label> <input type="text" name="username" value="<%= datos.username %>" /><%- helpers.error(errores, 'username') %></div>
                <div><label>Contraseña:</label> <input type="password" name="password" /><%- helpers.error(errores, 'password') %></div>
                <div><button type="submit">Enviar</button></div>
            </fieldset>
        </form>

</body>