<body>
    <section class="foro">
    <h1>Foro</h1>
    <form class="busqueda-foro" method="GET" action="/mensajes/foro">
        <input type="text" name="foro" placeholder="Buscar foros por título..." value="<%= typeof search !== 'undefined' ? search : '' %>">
        <button type="submit">Buscar</button>
    </form>

    <p class="texto-centrado">Crea un nuevo post <a href="/mensajes/post"><strong>aquí</strong></a></p>

    <% if (foros && foros.length > 0) { %>
        <ul class="foro-lista">
         <% foros.forEach(foro => { %>
            <li>
                <article>
                <a href="/mensajes/thread/<%= foro.id %>">
                    <strong><%= foro.titulo %></strong>
                    <p>Creado por: <%= foro.username %></p>
                </a>

                <% if (session.username === foro.username || session.rol === 'A') {%>
                    <form action="/mensajes/forum/<%= foro.id %>" method="POST" class="form-eliminar-foro">
                    <button class="btn-del-foro" onclick="return confirm('¿Estás seguro de que quieres eliminar este foro? Esta acción NO se podrá deshacer.')" type="submit">Eliminar foro</button>
                    </form>
                <% } %>
                </article>
            </li>
        <% }) %>
    </ul>
    <% } else { %>
       <p>No hay posts disponibles.</p>
    <% } %>

    </section>
</body>