<body>
    <h1>Foro</h1>
    <form method="GET" action="/mensajes/foro">
        <input type="text" name="foro" placeholder="Buscar foros por título..." value="<%= typeof search !== 'undefined' ? search : '' %>">
        <button type="submit">Buscar</button>
    </form>
    <% if (foros && foros.length > 0) { %>
        <ul>
         <% foros.forEach(foro => { %>
            <li>
                <a href="/mensajes/thread/<%= foro.id %>">
                    <strong><%= foro.titulo %></strong>
                    <p>Creado por: <%= foro.username %></p>
                </a>

                <% if (session.username === foro.username || session.rol === 'A') {%>
                    <form action="/mensajes/forum/<%= foro.id %>" method="POST" onsubmit="return confirmarEliminacion()">
                        <button type="submit">Eliminar foro</button>
                    </form>
                <% } %>
            </li>
        <% }) %>
    </ul>
    <% } else { %>
       <p>No hay posts disponibles.</p>
    <% } %>


    <a href="/mensajes/post">Crear nuevo post</a>

</body>
</html>

<script>
    function confirmarEliminacion() {
        return confirm("¿Estás seguro de que quieres eliminar este foro? Esta accion NO se puede deshacer.");
    }
</script>