<body>
<h1><%= forum.titulo %></h1>
    <p>Descripcion del foro: <%= forum.descripcion %></p>
    <p>Creador del foro: <%= forum.username %></p>
    <hr>

    <% if (replies.length > 0) { %>
        <h2>Respuestas</h2>
        <ul>
            <% replies.forEach(reply => { %>
                <li>
                    Escrito por <strong><%= reply.username %></strong>: <%= reply.content %>
                    <p>Publicado el <%= reply.date %></p>
            
                    <% if (session.username === reply.username || session.rol === 'A') {%>
                        <form action="/mensajes/message/<%= reply.id %>?idForo=<%= forum.id %>" method="POST">
                            <button type="submit">Eliminar comentario</button>
                        </form>
                    <% } %>
            
                    <% if (session.username === reply.username) { %>
                        <button onclick="mostrarFormulario(<%= reply.id %>)">Editar comentario</button>            
                        <form id="formulario-<%= reply.id %>" action="/mensajes/edit/<%= reply.id %>?idForo=<%= forum.id %>" method="POST" style="display: none; margin-top: 10px;">
                            <label for="content %>">Comentario:</label><br>
                            <textarea name="content" id="content%>" rows="4" required><%= reply.content %></textarea><br>
                            <button type="submit">Guardar edición</button>
                        </form>
                    <% } %>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No hay respuestas a este post.</p>
    <% } %>

    <hr>

    <h2>Escribe una respuesta:</h2>
    <form action="/mensajes/reply/<%= forum.id %>" method="POST">
        <label for="content">Comentario:</label><br>
        <textarea name="content" id="content" rows="4" required></textarea><br>
        <button type="submit">Publicar comentario</button>
    </form>
    

    <a href="/mensajes/foro">Volver al foro</a>

    <script>
        function mostrarFormulario(id) {
          const formulario = document.getElementById(`formulario-${id}`);
          formulario.style.display = formulario.style.display === 'none' ? 'block' : 'none';
        }
      </script>
