<body>
<h1><%= forum.titulo %></h1>
    <p>Descripcion del foro: <%= forum.descripcion %></p>
    <hr>

    <% if (replies.length > 0) { %>
        <h2>Respuestas</h2>
        <ul>
            <% replies.forEach(reply => { %>
                <li>
                    Escrito por <strong><%= reply.username %></strong>: <%= reply.content %>
                    <p>Publicado el <%= reply.date %></p>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No hay respuestas a este post.</p>
    <% } %>

    <hr>

    <h2>Escribe una respuesta:</h2>
    <form action="/mensajes/reply/<%= forum.id %>" method="POST">
        <label for="content">Comentario:</label><br>
        <textarea name="content" id="content" rows="4" required></textarea><br>
        <button type="submit">Publicar comentario</button>
    </form>
    

    <a href="/mensajes/foro">Volver al foro</a>
